@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Rye&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Rancho, sans-serif;
    font-weight: 300;
    color: darkgoldenrod;
}

/* Headings and logo */

h1,
h2 {
    font-family: Rye, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a87600;
}

#logo {
    float: left;
    font-size: 300%;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid darkgoldenrod;
}

.active {
    border-bottom: 1px solid darkgoldenrod;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for Hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}